<!DOCTYPE html>
<html>
  <head>
    <title>FCC timestamp microservice</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body class="container">
    <header>
      <h1>
        FCC Timestamp microservice
      </h1>
    </header>

    <main class="jumbotron" style="background-color: rgb(250,250,250);">
      <h2>
        User stories:
      </h2>
      <blockquote>
          <p>
            I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)
          </p>
          <p>
            If it does, it returns both the Unix timestamp and the natural language form of that date.
          </p>
          <p>
            If it does not contain a date or Unix timestamp, it returns null for those properties.
          </p>       
      </blockquote>
      <h2>
        Example usage:
      </h2>
      <pre>
        https://microtime.glitch.me/December%2015,%202015
        https://microtime.glitch.me/1450137600
      </pre>
      <h2>
        Example output:
      </h2>
      <pre>
        { "unix": 1450137600, "natural": "December 15, 2015" }
      </pre>
    </main>

    <footer>
      <p>
        <a href="https://glitch.com">
          Remix this in Glitch
        </a>        
      </p>
      <p>
        <a href="https://github.com/barottomartin/fcc-timestamp-microservice">
          Source code
        </a>
      </p>
    </footer>
  </body>
</html>
